
$bgcolor : #02131C;
$lightblue : #06B0F3;
$progresionbarinside : #151f78 ;
$turquoise: #028290;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@font-face { font-family: Avenir-Next;  src: url('Avenir-Next.ttc'); } 
@font-face { font-family: Avenir-Next; font-weight: bold; src: url('Avenir-Next.ttc');}
@font-face { font-family: Avenir-Next; font-weight: normal; src: url('Avenir-Next.ttc');}

// page-home.php Mobile starts

main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: white;
    font-size: 12px;
    padding: 0 10%;




        section{
            margin-bottom: 5vh;
        }

        h1{
            font-size: 1.4rem;
            font-weight: bold;
        }

        p{
            font-size: 0.8rem;
        }

        .articleimg1 , .articleimg2 , .articleimg3 {
            height: 30vh;
           

        }


        #desktophead{
            display: none;
        }


        .readmorebtn{
           display: flex;
           justify-content: center;

            a{
                width: 70%;

           
            }
        } 


    .four{
        background: rgb(2,130,144);
        background: radial-gradient(circle, rgba(2,130,144,1) 0%, rgba(14,41,73,1) 100%);
        border-radius: 25px;
        border: solid $lightblue;
        padding: 40px 20px;


   


       .four{
        background-color: $turquoise;
        border-radius: 25px;
        border: solid $lightblue;
        padding: 40px 20px;




            .lastphoto{
                img{
                    height: 100%;
                }
            }
       


    }




    }
}


// page-home.php Mobile starts



// page-home.php Desktop starts

@media (min-width:  769px) {


    


    main{
        display: block;
       
    
        padding: 5% 15% 0 15%; 
   
        h1{
            font-size: 1.8rem;
            font-weight: bold;
        }

        p{
            font-size: 0.9rem;
        }



        #mobilehead{
            display: none;
        }

        #desktophead{
            display: block;
            text-align: center;
        }


        .articleimg1{
            height: 50vh;
                img{
                    height: 90%;
                }
              
        }
        .articleimg2{
            height: 50vh;
                img{
                    height: 80%;
                }
              
        }
        .articleimg3{
            height: 50vh;
              
        }
   
          
          
    

      .bigsecone{
            display: flex;
            flex-direction: row;
           .one{
            width: 50%;   
            margin-right: 5%;
            margin-top: 15%;
           }

           .two{
               width: 50%;
           }
      }





      .bigsectwo{
        display: flex;
        flex-direction: row;
        .three{
            width: 50%;
            margin-right: 5%;
           }

        .four{
            width: 50%;
        }
      }
    }


    section{
        .readmorebtn{

            a{
                width: 45%;

             
            }
          
    }  


        .plastic{
            padding: 20%;
            margin-top: -15%;
            margin-bottom: -25%;
    }
    }


   



    .four{
        background: rgb(2,130,144);
        background: radial-gradient(circle, rgba(2,130,144,1) 0%, rgba(14,41,73,1) 100%);
        border-radius: 25px;
        border: solid $lightblue;
        padding: 40px 20px;


           

       



        }


        .btneff{
            img{
                transition: transform 1s;
            }
            img:hover {
                transform: scale(1.3);
              }
        }


   
        



}




// page-home.php Desktop starts