   .DS_Store
        .idea/
        Avenir-Next.ttc
        footer.php
        functions.php
        header.php
        images/
        index.php
        page-home.php
        style.css
        style.css.map
        style.scss
        styles/